<%
  photo = post;
  file = '/photo/' + date(photo.date, 'YYYY-MM') + '-' + photo.slug;
  photo.image_path = file + '-square.' + (photo.type ? photo.type : 'jpg');
%>
<li class="listing-item-image">
  <a href="<%- config.root %><%- post.path %>" class="listing-image-link">
    <span class="listing-image-title"><%= post.title %></span>
    <img src="<%= photo.image_path %>" alt="<%= post.title %>" class="listing-image" />
  </a>
</li>
