<article class="article h-entry" role="main">
  <header class="article-header">
    <h1 class="main-content-title entry-title p-name">
      <%= post.title %>
    </h1>
  </header>
  <div class="article-meta" role="contentinfo">
    <%- partial('post/published') %>
    <%- partial('post/nav') %>
  </div>
  <div class="article-content entry-content e-content">
    <%- post.content %>
  </div>
  <%- partial('post/article-footer') %>
  <%- partial('latest-posts') %>
</article>
