<!DOCTYPE html><% experiment = page %>
<html>
<head>
    <!-- Article: <%= experiment.article %> -->
    <!-- Demo: <%= experiment.canonical %> -->
    <!-- Originally posted: <%= experiment.date.format('Do MMMM YYYY') %> -->
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title><%= experiment.title %> &mdash; Paul Hayes</title>
    <meta name="author" content="Paul Hayes" />
    <link rel="canonical" href="<%= experiment.canonical %>" />
    <link rel="stylesheet" href="../experiment-styles.css" />

    <% if (experiment.css) { %><link rel="stylesheet" href="<%= experiment.css %>" /><% } %>
    <!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
</head>
<body class="experiment">
    <div class="wrapper">
        <p class="learn">
            This is a demo, <a href="<%= experiment.article %>">learn how it works</a>.
        </p>
<%- experiment.content %>
    </div>
    <% if (experiment.js) { %><script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="<%= experiment.js %>"></script><% } %>
</body>
</html>
