<!DOCTYPE html>
<html lang="en" id="paulrhayes-com" class="no-js">
<head>
  <%- partial('_partial/head') %>
  <% if (page.experiment) { %>
    <%- partial('_partial/experiment-header', {experiment: page}) %>
  <% } %>
</head>
<body>
  <%
   wrapperClass = "wrapper hfeed";
   if (is_home()) {
     wrapperClass += " home";
   }

   if (typeof page.layout !== 'undefined') {
     wrapperClass += " layout-" + page.layout;
   }

   if (is_category()) {
     wrapperClass += " category-" + page.category;
   }
  %>
  <div class="<%= wrapperClass %>">
    <%- partial('_partial/header') %>
    <%- body %>
    <% if (page.footer !== false) { %>
      <%- partial('_partial/footer') %>
    <% } %>
  </div>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script>!window.jQuery && document.write('<script src="/js/jquery-2.1.1.min.js"><\/script>')</script>
  <script src="/js/mousetrap.min.js"></script>
  <script src="/js/master.js?<%= config.site_build %>"></script>
  <% if (page.experiment) { %>
    <%- partial('_partial/experiment-footer', {experiment: page}) %>
  <% } %>
</body>
</html>
