<%
  photo = page;
  file = '/photo/' + date(photo.date, 'YYYY-MM') + '-' + photo.slug;
  photo.image_path = file + '-small.' + (photo.type ? photo.type : 'jpg');
  photo.link_path = file + '-original.' + (photo.type ? photo.type : 'jpg');
%>
<article class="single-photo" role="main">
  <div class="text-center">
    <img src="<%= photo.image_path %>" class="photo-image" alt="<%= photo.title %>" />
  </div>
  <header class="photo-header">
    <h1 class="main-content-title photo-title">
      <%= photo.title %>
    </h1>
    <div class="text-center">
      <%- partial('_partial/post/published', {post: photo}) %>
      <p>
        <a href="<%= photo.link_path %>">Original</a><% if (photo.flickr) { %>, <a href="<%= photo.flickr %>" rel="alternate">Flickr</a><% } %><% if (photo.flickr && photo.instagram) { %>,<% } %>
        <% if (photo.instagram) { %><a href="<%= photo.instagram %>" rel="alternate">Instagram</a><% } %>
      </p>
      <%- partial('_partial/post/nav', {post: photo}) %>
    </div>
  </header>
  <div class="container photo-content">
    <%- photo.content %>
  </div>
  <% if (photo.exif) { %>
    <footer class="container photo-footer">
      <code><span title="Aperture"><%= photo.aperture %></span> &middot; <span title="Shutter speed"><%= photo.shutter %></span> &middot; <span title="ISO"><%= photo.iso %></span></code><br />
      <code><%= photo.camera %> &mdash; <%= photo.lens %></code>
    </footer>
  <% } %>
</article>
