<%
  photo = page;
  file = '/photo/' + date(photo.date, 'YYYY-MM') + '-' + photo.slug;
  photo.image_path = file + '-small.' + (photo.type ? photo.type : 'jpg');
  photo.link_path = file + '-original.' + (photo.type ? photo.type : 'jpg');
%>
<article class="single-photo" role="main">
  <div class="text-center">
    <img src="<%= photo.image_path %>" class="photo-image" alt="<%= photo.title %>" />
  </div>
  <header class="photo-header">
    <h1 class="main-content-title photo-title">
      <%= photo.title %>
    </h1>
    <div class="text-center">
      <%- partial('_partial/post/published', {post: photo}) %>
      <%- partial('_partial/photo/external', {photo: photo}) %>
      <%- partial('_partial/post/nav', {post: photo}) %>
    </div>
  </header>
  <div class="container photo-content">
    <%- photo.content %>
  </div>
  <%- partial('_partial/photo/exif', {photo: photo}) %>
</article>
<%- partial('_partial/latest-photos') %>
